.carouselContainer {
  height: 60vh;
  width: 100%;
  position: relative;
  margin: 2rem 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out; /* Cambiamos la transición a opacidad para un efecto más suave */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.leftArrow {
  left: 1rem;
}

.rightArrow {
  right: 1rem;
}