.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.8rem;
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.error {
  color: red;
  font-weight: 500;
  text-align: center;
}