.dashboard {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: calc(100vh - 110px);
}

.dashboard__title {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.dashboard__title-link {
    text-decoration: none;
    color: #535bf2;
    font-size: 30px;
}

.dashboard__slider {
    width: 300px;
    max-height: 300px;
    margin: 0 10px;
    overflow: hidden;
}

.dashboard__slider-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.dashboard__slider-item {
    max-height: 300px;
}

.dashboard__slider-image {
    max-height: 300px;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0;}
    25% { margin-left: -100%; }
    45% { margin-left: -100%;}
    55% { margin-left: -200%; }
    70% { margin-left: -200%;}
    75% { margin-left: -300%; }
    90% { margin-left: -300%;}
    95% { margin-left: -400%;}
    100% { margin-left: -400%;}
}

@media screen and (min-width: 320px) and (max-width: 604px) {
    .dashboard {
        display: grid;
        grid-gap: 10px;
    }

    .dashboard__title {
        font-size: 1.5em;
        margin: 0;
    }
    
    .dashboard__title-link {
        font-size: 20px;
    }
    .dashboard__slider {
        margin: 0;
    }
}

@media screen and (min-width: 605px) and (max-width: 1140px) {
    .dashboard {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: 110px 300px;
        grid-gap: 0 10px;
    }

    .dashboard__title {
        grid-column: span 3;
        margin: auto;
    }

    .dashboard__slider {
        margin: auto;
    }
}