.dashboard {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: calc(100vh - 110px);
}

.dashboard__title {
    font-size: 2.5em;
}

.dashboard__slider {
    width: 300px;
    margin: 0 10px;
    overflow: hidden;
}

.dashboard__slider-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.dashboard__slider-image {
    max-height: 300px;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0;}
    25% { margin-left: -100%; }
    45% { margin-left: -100%;}
    55% { margin-left: -200%; }
    70% { margin-left: -200%;}
    75% { margin-left: -300%; }
    90% { margin-left: -300%;}
    95% { margin-left: -400%;}
    100% { margin-left: -400%;}
}