.header {
    max-height: 200px;
    border-bottom: 1px solid #535bf2;
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    align-items: center;
    font-size: 3em;
    line-height: 1.1;
}

.header__title {
    margin: auto;
}