.nav {
    display: flex;
    justify-content: center;
}

.nav__link {
    color: #535bf2;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding: 20px;
}

.nav__link_active {
    background-color: #a0a4f5;
    pointer-events: none;
    border-radius: 50%;
}

.nav__link:hover {
    filter: drop-shadow(0 1em 0 #646cffaa);
}

@media screen and (min-width: 320px) and (max-width: 604px) {
    .nav__link {
        padding: 5px;
    }
}