.prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 2fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: calc(100vh - 110px);
}

.prices__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 10px 0 0;
    grid-column: span 3;
    max-height: 60px;
}

.prices__logo {
    max-width: 200px;
    max-height: 100px;
    border-radius: 10%;
    padding: 0;
    margin: 0;
}

.prices__contents {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.prices__curse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 2em;

}

.prices__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.prices__list-item {
    border: 2px solid ;
    padding: 0;
    border-radius: 0 40% 40% 0;
    background: linear-gradient(90deg, #ffffff 90%, #f00 0%);
}

.prices__paragraph {
    margin: 0;
}

.prices__image {
    max-width: 40%;
}

@media screen and (min-width: 320px) and (max-width: 604px) {
    .prices {
        grid-template-columns: 1fr;
        grid-template-rows: 60px repeat(2, 350px);
    }

    .prices__title {
        grid-column: 1 / 2;
        font-size: 2.5em;
    }

    .prices__contents {
        font-size: 1em;
    }

    .prices__image {
        max-width: 200px;
    }
}

@media screen and (min-width: 605px) and (max-width: 1140px) {
    .prices {
        grid-template-columns: repeat(2, 303px);
        grid-template-rows: 60px 400px;
    }

    .prices__title {
        font-size: 2.5em;
    }

    .prices__contents {
        font-size: 15px;
    }

    .prices__image {
        max-width: 50%;
    }
}